@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
}

/* Header */
.menu {
    background-color: #ffffff;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;


}


/* Heading and logo */
.left a {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    text-decoration: none;
}

.right {
    width: 200px;

}

.list {

    list-style-type: none;

}

li a {
    text-decoration: none;
    letter-spacing: 2px;

}

.right li {
    margin-bottom: 1em;
}

/* main content */
.content {
    flex: 1 0 auto;
    margin-top: 185px;

}

/* picture and discription */
.children {
    height: 550px;
    width: 100%;
    background: url("../images/integration3.jpg") no-repeat center/cover;
}

.text1 {
    height: 250px;
    width: 95%;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    font-size: 110%;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #f4eeee;
}



footer {
    background-color: aquamarine;
}

/* media query , tablets and larger*/
@media screen and (min-width: 768px) {
    .menu {
        height: 80px;
        display: flex;
        padding: 0;
        justify-content: space-between;

    }

    .left {


        font-size: 120%;
        line-height: 70px;
        width: 250px;
        height: 100%;
        padding-left: 10px;
    }


    .right {
        display: flex;
        width: 420px;
        height: 100%;


    }

    .right li {
        list-style-type: none;
        padding-left: 15px;
        margin: 0;

    }

    .right ul {
        display: flex;
        font-size: 140%;
        padding: 10px;
        align-items: center;
    }

    .list {
        align-items: center;
    }

    .content {
        margin-top: 80px;
    }
}



/* main content */



@media screen and (min-width: 992px) {
    .menu a:hover {
        border-bottom: 1px solid #1a1547;
        color: #1a1547;
    }

    .menu {

        height: 80px;
        width: 100%;
        padding: 10px;
        text-align: center;
        align-items: center;
    }

    .right {
        height: 80px;
    }

    .left {
        height: 80px;
    }





}